{% extends 'base.html.twig' %}

{% block title %}Hello RetrouveController!
{% endblock %}

{% block body %}
	<div class="snowflakes" aria-hidden="true"></div>
	<!-- Assurez-vous que l'élément existe bien dans la page -->
	<!-- Section de la bannière -->
	<section class="banniere_section">
		<div class="banniere_div" style="background-image: url('{{ asset('assets/img/noel.jpg') }}');">
			{{form_start(form)}}
			{{form_row(form.email)}}
            {{form_row(form.submit)}}
			{{form_end(form)}}
		</div>
	</section>
{% endblock %}
